:root {
  /* --bg-primary: #1F1F14; */
  --bg-primary: hsl(207, 26%, 17%);
  --bg-dark: hsl(209, 23%, 22%);
  /* --bg-dark: #141414; */
  --text-primary: #FEFEFE;
  --text-dark: #8B8B8B;
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;

}

html {
  scroll-behavior: smooth;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

/* set up the body */

body {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 16px;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  overflow-x: hidden;
}


/* make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
  font: inherit;
}